In [2]:
import os
import glob
import time
import pandas as pd
import numpy as np

directory = "Raw_Data\Pell Grant"
files = glob.glob(os.path.join(directory, "*.xls"))
files = sorted(files, key=lambda x: os.path.getmtime(x))
year = 1999
year2 = 2000

for filename in files:
    new_name = f"AY{year:04d}-{year2:04d}Pell.xls"
    
    old_path = filename
    new_path = os.path.join(directory, new_name)
    
    if os.path.exists(new_path):
        print(f"Target file '{new_name}' already exists. Skipping renaming.")
    else:
        os.rename(old_path, new_path)
        print(f"Renamed {filename} to {new_name}")
    
    year += 1
    year2 += 1

In [3]:
years2 = []
years = []
dataframes = []

for i in range(1999,2006):
    years.append(str(i))

for z in range(2000,2007):
    years2.append(str(z))

for w,x in zip(years , years2):

    filename = f'../Raw_Data/pell_grant/AY{w}-{x}Pell.xls'

    try:
        index = 3
        df = pd.ExcelFile(filename)
        df1= pd.read_excel(df,'pell grant',skiprows=5,usecols='A:F')
        df1['Year'] = w
        df1.insert(index, column='Zip Code', value=None)
        dataframes.append(df1)
        print(f"{filename} has appended successfuly")
        
    except:
        
        print(f"{filename} did not append")

base = pd.concat(dataframes)
base = base.rename(columns={'Recipients' : 'YTD Recipients', 'Total Disbursed': 'YTD Disbursements' })

../Raw_Data/pell_grant/AY1999-2000Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2000-2001Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2001-2002Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2002-2003Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2003-2004Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2004-2005Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2005-2006Pell.xls has appended successfuly

In [4]:
base

,OPE ID,School,State,Zip Code,School Type,YTD Recipients,YTD Disbursements,Year
0,106100.0,ALASKA PACIFIC UNIVERSITY,AK,None,Private,109,1.972329e+05,1999
1,106200.0,SHELDON JACKSON COLLEGE,AK,None,Private,73,1.402427e+05,1999
2,106300.0,UNIVERSITY OF ALASKA FAIRBANKS,AK,None,Public,1256,2.442646e+06,1999
3,106500.0,UNIVERSITY OF ALASKA SOUTHEAST,AK,None,Public,221,3.530360e+05,1999
4,1146200.0,UNIVERSITY OF ALASKA - ANCHORAGE,AK,None,Public,1920,3.425149e+06,1999
...,...,...,...,...,...,...,...,...
5245,915700.0,WYOMING TECHNICAL INSTITUTE,WY,None,Proprietary,1826,4.280444e+06,2005
5246,925900.0,LARAMIE COUNTY COMMUNITY COLLEGE,WY,None,Public,860,1.863314e+06,2005
5247,2211900.0,CHEEKS INTERNATIONAL ACADEMY OF BEAUTY CULTURE,WY,None,Proprietary,141,3.596500e+05,2005
5248,3291300.0,BUSINESS SKILLS INSTITUTE A DEPARTMENT OF THE ...,WY,None,Public,6,8.077700e+03,2005
5249,NaN,NaN,NaN,None,NaN,5414748,1.267246e+10,2005

In [5]:
years2 = []
years = []
dataframes2 = []

for i in range(2006,2009):
    years.append(str(i))

for z in range(2007,2010):
    years2.append(str(z))

for w,x in zip(years , years2):

    filename = f'../Raw_Data/pell_grant/AY{w}-{x}Pell.xls'

    try:

        df1 = pd.ExcelFile(filename)
        df2= pd.read_excel(df1,'pell grant',skiprows=4, usecols='A:G')
        df2['Year'] = w
        df2 = df2.iloc[:-1]
        dataframes2.append(df2)
        print(f"{filename} has appended successfuly")
        
    except:
        
        print(f"{filename} did not append")

base2 = pd.concat(dataframes2)
base2 = base2.drop('YTD Recipients',axis=1)

../Raw_Data/pell_grant/AY2006-2007Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2007-2008Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2008-2009Pell.xls has appended successfuly

In [6]:
base2

,OPE ID,School,State,Zip Code,School Type,YTD Recipients,YTD Disbursements,Year
0,100200.0,ALABAMA AGRICULTURAL & MECHANICAL UNIVERSITY,AL,357621357.0,PUBLIC,3120,9524800.92,2006
1,100300.0,FAULKNER UNIVERSITY,AL,361093398.0,PRIVATE-NONPROFIT,1593,3999106,2006
2,100400.0,UNIVERSITY OF MONTEVALLO,AL,351156000.0,PUBLIC,673,1806796.5,2006
3,100500.0,ALABAMA STATE UNIVERSITY,AL,361045714.0,PUBLIC,3500,10420257,2006
4,100700.0,CENTRAL ALABAMA COMMUNITY COLLEGE,AL,350110000.0,PUBLIC,1334,3249134.9,2006
...,...,...,...,...,...,...,...,...
5534,4149100.0,CINCINNATI ACADEMY A PAUL MITCHELL PARTNER SCHOOL,OH,452411702.0,PROPRIETARY,NaN,51938,2008
5535,4149200.0,XCELL ACADEMY-A PAUL MITCHELL PARTNER SCHOOL,AL,352164990.0,PROPRIETARY,NaN,42820,2008
5536,4151100.0,SUMMIT SALON & BEAUTY SCHOOL,CO,808664569.0,PROPRIETARY,NaN,941,2008
5537,4152800.0,CALIFORNIA ACADEMY (THE) - A PAUL MITCHELL PAR...,CA,958252276.0,PROPRIETARY,NaN,14908,2008
5538,4152900.0,STUDIO ACADEMY OF BEAUTY (THE),AZ,852243600.0,PROPRIETARY,NaN,13921,2008

In [7]:
years2 = []
years = []
dataframes3 = []

for i in range(2009,2017):
    years.append(str(i))

for z in range(2010,2018):
    years2.append(str(z))

for w,x in zip(years , years2):

    filename = f'../Raw_Data/pell_grant/AY{w}-{x}Pell.xls'

    try:
        
        df2 = pd.ExcelFile(filename)
        df3= pd.read_excel(df2,'Award Year Summary',skiprows=5, usecols='A:G')
        df3['Year'] = w
        dataframes3.append(df3)
        print(f"{filename} has appended successfuly")
        
    except:
        
        print(f"{filename} did not append")

base3 = pd.concat(dataframes3)

../Raw_Data/pell_grant/AY2009-2010Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2010-2011Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2011-2012Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2012-2013Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2013-2014Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2014-2015Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2015-2016Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2016-2017Pell.xls has appended successfuly

In [8]:
base3

,OPE ID,School,State,Zip Code,School Type,YTD Recipients,YTD Disbursements,Year
0,106100,ALASKA PACIFIC UNIVERSITY ...,AK,995084672.0,Private-Nonprofit,159,519538.65,2009
1,106300,UNIVERSITY OF ALASKA FAIRBANKS ...,AK,997757500.0,Public,1596,5279884,2009
2,106304,UNIVERSITY OF ALASKA FAIRBANKS - KUSKOKWIN CAM...,AK,997757500.0,Public,8,28671,2009
3,106500,UNIVERSITY OF ALASKA SOUTHEAST ...,AK,998018680.0,Public,451,1393985,2009
4,1146200,UNIVERSITY OF ALASKA ANCHORAGE ...,AK,995088050.0,Public,3340,10533307.94,2009
...,...,...,...,...,...,...,...,...
5305,4265400,ANN WEBB SKIN INSTITUTE,TX,787593936.0,Proprietary,3,13580.0,2016
5306,4266000,BAIS MEDRASH MAYAN HATORAH,NJ,87011445.0,Private-Nonprofit,11,29863.0,2016
5307,4266100,Apex Academy Hair Skin Nails School of Cosmeto...,OH,449061793.0,Proprietary,2,5372.0,2016
5308,4267700,ESTHETIC INSTITUTE (THE),VA,221823818.0,Proprietary,1,989.0,2016
5309,4268000,KOR BEAUTY ACADEMY,AZ,853824958.0,Proprietary,4,11507.0,2016

In [9]:
years2 = []
years = []
dataframes4 = []

for i in range(2017,2022):
    years.append(str(i))

for z in range(2018,2023):
    years2.append(str(z))

for w,x in zip(years , years2):

    filename = f'../Raw_Data/pell_grant/AY{w}-{x}Pell.xls'

    try:
        
        df3 = pd.ExcelFile(filename)
        df4= pd.read_excel(df3,'Award Year Summary',skiprows=6, usecols='A:G')
        df4['Year'] = w
        dataframes4.append(df4)  
        print(f"{filename} has appended successfuly")
        
    except:
        
        print(f"{filename} did not append")

base4 = pd.concat(dataframes4)

../Raw_Data/pell_grant/AY2017-2018Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2018-2019Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2019-2020Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2020-2021Pell.xls has appended successfuly
../Raw_Data/pell_grant/AY2021-2022Pell.xls has appended successfuly

In [10]:
base4

,OPE ID,School,State,Zip Code,School Type,YTD Recipients,YTD Disbursements,Year
0,106100,ALASKA PACIFIC UNIVERSITY,AK,995084672,Private-Nonprofit,123,475480,2017
1,106300,UNIVERSITY OF ALASKA FAIRBANKS,AK,997757500,Public,1822,6081074.78,2017
2,106500,UNIVERSITY OF ALASKA SOUTHEAST,AK,998018680,Public,440,1483856,2017
3,884300,ALASKA BIBLE COLLEGE,AK,996456619,Private-Nonprofit,19,80979.68,2017
4,1146200,UNIVERSITY OF ALASKA ANCHORAGE,AK,995088050,Public,3879,13562287.24,2017
...,...,...,...,...,...,...,...,...
4897,393300,WESTERN WYOMING COMMUNITY COLLEGE,WY,829010428,Public,489,1769033.1,2021
4898,728900,CENTRAL WYOMING COLLEGE,WY,825012215,Public,411,1616159.51,2021
4899,915700,WYOTECH,WY,820709049,Proprietary,402,1655965,2021
4900,925900,LARAMIE COUNTY COMMUNITY COLLEGE,WY,820073299,Public,1049,3783197.69,2021
4901,2211900,CHEEKS BEAUTY ACADEMY,WY,820014413,Proprietary,85,365425.73,2021

In [11]:
frames = [base,base2,base3,base4]
pell_grant_df = pd.concat(frames)
pell_grant_df = pell_grant_df.drop(pell_grant_df.columns[8], axis=1)
pell_grant_df['Zip Code'] = pell_grant_df['Zip Code'].astype(str)
pell_grant_df['Zip Code'] = pell_grant_df['Zip Code'].str.replace(r'\D', '', regex=True)
pell_grant_df['Zip Code'] = pell_grant_df['Zip Code'].str.slice(0,5)

# pell_grant_df['YTD Disbursements'] = pell_grant_df['YTD Disbursements'].str.replace(r'\D','0', regex=True)
# pell_grant_df['YTD Disbursements'] = pell_grant_df['YTD Disbursements'].astype(float)
# pell_grant_df['YTD Recipients'] = pell_grant_df['YTD Recipients'].str.replace(r'\D','0', regex=True)
# pell_grant_df['YTD Recipients'] = pell_grant_df['YTD Recipients'].astype(int)
pell_grant_df.to_csv('../Datasets/pell_grant_dataset.csv')